##
# @author Rafał Wrzeszcz <rafal.wrzeszcz@wrzasq.pl>
# @copyright 2012 © by Rafał Wrzeszcz - Wrzasq.pl.
# @version 0.0.2
# @since 0.0.1
# @package WrzasqPl\Disqux
##

/.project
/.buildpath
/.settings
/closure/*
/disqus.min.js*
